<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="index.html">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">find clubs</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html">find events</a></li>
                <li class="nav-item"><a class="nav-link" href="pricing.html">directory</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                        <li><a class="dropdown-item" href="blog-home.html">register</a></li>
                        <li><a class="dropdown-item" href="blog-post.html">logout</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

<main class="flex-shrink-0">
    <section class="py-5 bg-light">
        <form role="form" method="post" th:action="@{/event/create/{clubId}(clubId=${clubId})}"  th:object="${event}">
            <div class="mb-3">
                <label for="name" class="form-label">title</label>
                <input type="text" class="form-control" id="name" th:field="*{name}">
                <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
            </div>
            <div class="mb-3">
                <label for="type" class="form-label">type</label>
                <input type="text" class="form-control" id="type" th:field="*{type}">
                <p th:if="${#fields.hasErrors('type')}" class="text-danger" th:errors="*{type}"></p>
            </div>

            <div class="mb-3">
                <label for="photoUrl" class="form-label">photoUrl</label>
                <input type="text" class="form-control" id="photoUrl" th:field="*{photoUrl}">
                <p th:if="${#fields.hasErrors('photoUrl')}" class="text-danger" th:errors="*{photoUrl}"></p>
            </div>

            <div class="mb-3">
                <label for="startTime" class="form-label">startTime</label>
                <input type="datetime-local" class="form-control" id="startTime" th:field="*{startTime}">
                <p th:if="${#fields.hasErrors('startTime')}" class="text-danger" th:errors="*{startTime}"></p>
            </div>
            <div class="mb-3">
                <label for="endTime" class="form-label">endTime</label>
                <input type="datetime-local" class="form-control" id="endTime" th:field="*{endTime}">
                <p th:if="${#fields.hasErrors('endTime')}" class="text-danger" th:errors="*{endTime}"></p>
            </div>

            <button type="submit" class="btn btn-primary">Create event</button>
        </form>
    </section>
</main>

<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2023</div></div>
            <div class="col-auto">
                <a class="link-light small" href="#!">Privacy</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Terms</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
